# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# OS metadata
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
*.local

# Python environment files
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Local env files
.env
.env.production
.env.development
.env.local
.env.*.local

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
